body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1818;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

#btnRemonter{
    color: white;
    display: none;
    position: fixed;
    background-color: black;
    padding: auto;
    border: none;
    z-index: 99;
    bottom: 40px;
    right: 40px;
    border-radius: 10px;
    font-size: 20px;
}

#btnRemonter:hover{
    background-color: red;
}
header {
     background-color: black;
     color: white;
     padding: 10px 0;
     text-align: center;
}    

.center-container {
    display:flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    
}

.container-left {
    text-align: left;
    width: 500px;
    padding-left: 5%;
    margin: 4%;
    word-wrap: break-word;
}

.container-right {
    text-align: right;
    width: 500px;
    padding-right: 5%;
    margin: 4%;
    word-wrap: break-word;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}