@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Roboto:ital,wght@1,300;1,400&display=swap');

@keyframes gradientAnimIn{
    0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientAnimOut {
    0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes slideGauche {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideDroite {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

  
nav {
    padding: 0px;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

#btnMenu {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;  
}   

#btnMenu:hover {
    background: linear-gradient(-45deg, black, orange, black);
    background-size: 1000%;
    animation: gradientAnimIn 1s ease-in-out;
}

#btnCss {
    background-color: white;
    color: orange;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;  
}

#btnCss:hover {
    background-color: #ffac1d;
    color: black;
    transition: all 0.5s ease-in-out;
    background-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1818;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

#btnRemonter{
    color: white;
    display: none;
    position: fixed;
    background-color: black;
    padding: auto;
    border: none;
    z-index: 99;
    bottom: 2.5%;
    right: 2.5%;
    border-radius: 20px;
    font-size: 100%;
}

#btnRemonter:hover{
    background-color: red;
    transition: background-color 0.7s ease-in-out;
}

#menu {
    background-color: black;
    width: 20%;  
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: fixed;
    display: none; 
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px 10px 25px 10px;
    background-color: black;
    transition: ease-in-out 0.25s;
}

#menu li:hover{
    object-fit: contain;
    background: linear-gradient(to right, orange 15%, black 95%);
    color: black;
    transition: color 1s ease;
    background-size: 400%;
    animation: gradientAnimIn 1s ease;
}

#menu img{
    width: 40%;
    height: 40%;
    object-fit: contain;
    transition: ease-in-out 0.25s;
}

#menu a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.5s;
}

header {
     background: linear-gradient(to left, yellow, orange);
     color: white;
     padding: 10px 0;
     text-align: center;
     width: 100%;
}    

.center-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 2%;
}

.container-left {
    display: flex;
    word-wrap: break-word;
    width: 65%;
    margin-bottom: 6%;
    animation: slideGauche 1s ease-in-out;
}

.container-right {
    display: flex;
    word-wrap: break-word;
    width: 65%;
    margin-bottom: 6%;
    animation: slideDroite 1s ease-in-out;
}

.formation {
    color: rgb(0, 0, 0); 
    padding: 10px 10px; 
    border-radius: 10px; 
    background: linear-gradient(to left, #da8b04, #ffac1d); 
    border: 1% solid rgb(46, 1, 1); 
    display: inline-block;
    text-decoration: none;
    font-size: 20px;

}

.formation a {
    
    color:rgb(0, 0, 0);
}

.prix {
    color:#da8b04;
    font-size: 20px; font-weight: bold;
}

.text-right {
    width: 100%;
    padding-left: 5%;
}

.text-left {
    width: 100%;
    padding-right: 5%;
}

.img {  
    width: 44%;
    height: 100%;
    border-radius: 10px;
    border: 1% solid rgb(46, 1, 1);
}

.animated {

    transition: ease-in 0.5s;
    display: block;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.01% 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1000px) {
    .container-left{
        flex-wrap: wrap;
    }
    .container-left img {
        width: 100%;
        height: 40%;
    }
    .container-right{
        flex-wrap: wrap-reverse;
    }
    .container-right img {
        width: 100%;
        height: 40%;
    }

    #menu img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #menu {
        width: 40%;
    }
}