@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Roboto:ital,wght@1,300;1,400&display=swap');

@keyframes gradientAnimIn{
    0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientAnimOut {
    0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

#btnMenu {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;  
}

#btnMenu:hover {
    background: linear-gradient(-45deg, black, orange, black);
    background-size: 1000%;
    animation: gradientAnimIn 1s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1818;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

#btnRemonter{
    color: white;
    display: none;
    position: fixed;
    background-color: black;
    padding: auto;
    border: none;
    z-index: 99;
    bottom: 40px;
    right: 40px;
    border-radius: 10px;
    font-size: 20px;
}

#btnRemonter:hover{
    background-color: red;
}

#menu {
    background-color: black;
    height: 100%;
    width: 30%;  
    padding: 0;
    z-index: 1;
    position: fixed; 
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px 10px 25px 10px;
    background-color: black;
    transition: ease-in-out 0.25s;
}

#menu li:hover{
    object-fit: contain;
    background: linear-gradient(to right, orange 15%, black 95%);
    color: black;
    transition: color 1s ease;
    background-size: 400%;
    animation: gradientAnimIn 1s ease;
    background-color: black;
}

#menu a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.5s;
}

header {
    background: linear-gradient(to left, yellow, orange);
    color: white;
    padding: 10px 0;
    text-align: center;
}    

.center-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-left {
    transition: ease-in 0.5s;
    text-align: left;
    width: 60%;
    padding-left: 22%;
    margin: 4%;
    word-wrap: break-word;
}

.container-right {
    transition: ease-in 0.5s;
    text-align: right;
    width: 60%;
    padding-right: 22%;
    margin: 4%;
    word-wrap: break-word;
}

.animated {

    transition: ease-in 0.5s;
    display: block;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
}
